@model IEnumerable<MvcExperiment.GridMvc.Models.Caractor>

@{
    ViewBag.Title = "ReStable";
    int quantity = 30;
}

<section id="SectionList">
    <h1>@ViewBag.Title</h1>
    <p>ReStable DEMO。</p>

    @Html.Grid(Model).AutoGenerateColumns().WithPaging(quantity).Named("TableGrid").Sortable(true).Filterable(true).Selectable(false)
</section>

@section styles {
    <link rel="stylesheet" href="~/Content/jquery.restable.min.css">
}

@section scripts {
    <script src="~/Scripts/jquery.restable.js"></script>

    <script>
        $(window).ready(function () {
            $('#TableGrid').ReStable({
                rowHeaders: false
            });
        });
    </script>
}